# Misc random files
.*.swp
*~
*.log
*_prof.html
Thumbs.db

# RDoc/RCov stuff
coverage
doc/app

# Asset ignores
assets/current/*
assets/config/*.yml

# Flex ignores
flex/.settings
flex/.project
flex/.metadata
flex/.actionScriptProperties
flex/.flexProperties
flex/.FlexUnitSettings
flex/html-template/history
flex/assets/*
flex/src/assets/*
flex/catalyst
flex/temp
# Text flex apps
flex/Test.mxml
flex/src/flex.mxml
# Compilation targets.
flex/bin-debug
flex/target

# Server ignores
# Gemfile symlinks
server/Gemfile
server/Gemfile.lock
# Configs
server/config/database.yml
# Temp output files
server/script/odsimport/*.txt
server/run/stopped_normally
server/run/*.cache

# SpaceMule ignores
server/vendor/SpaceMule/target/
server/vendor/SpaceMule/project/boot/
server/vendor/SpaceMule/project/target/
server/vendor/SpaceMule/project/project/target/

# StripMaker ignores
lib/StripMaker/data
lib/StripMaker/build

# Misc ignores
lib/flyers/output/*.pdf

# Netbeans ignores
nbproject

# Intellij IDEA ignores
.idea
*.iml
.rakeTasks
out/*

