.*.swp
*~
*.log
*_prof.html
coverage
doc/app
.metadata
flex/.actionScriptProperties
flex/.flexProperties
server/config/database.yml
web/config/database.yml
Thumbs.db
.settings
.project
bin-debug
catalyst
ClientArchitectureUML
testmapgen_prof.html
temp
server/vendor/planet_map_generator/build
Test.mxml
.FlexUnitSettings
build
lib/StripMaker/data
lib/flyers/output/*.pdf

server/nbproject
flex/src/flex.mxml
server/db/snapshots/beta_keys.sql
assets/current/*
assets/config/*.yml
flex/assets/*
flex/src/assets/*
iphone/assets/*
server/db/snapshots/beta_keys.sql
