### %config_entry% config ###

# Dimensions
%config_entry%.width: 1
%config_entry%.height: 1

# Hit points
%config_entry%.hp: 300

# Upgrades
%config_entry%.max_level: 1
%config_entry%.upgrade_time: <%= 1.minute + 20.seconds %> + 10 * (level - 1)
%config_entry%.metal.cost: 100 * (level + 1)
%config_entry%.energy.cost: 200 * (level + 1)
%config_entry%.zetium.cost: 200 * (level + 1)

# Technology requirements
#%config_entry%.requirement.%config_entry%.level: 1

# Position in constructable list
%config_entry%.constructable.position: 0

# Constructor properties
#%config_entry%.queue.max: 10
#%config_entry%.constructor.items:
#  - unit/*

# Battlefield combat properties
#%config_entry%.xp_modifier: 1
#%config_entry%.initiative: 7
#%config_entry%.armor_mod: (level - 1) * 10
#%config_entry%.damage_mod: (level - 1) * 10
#%config_entry%.guns:
#  - type: :machine_gun
#    dpt: 20
#    period: 1
#    damage: :piercing
#    reach: :ground
