### %config_entry% config ###

# Coordinates in technology tree
%config_entry%.coords: [0, 0]

# Upgrade properties
%config_entry%.max_level: 1
%config_entry%.upgrade_time: <%= 1.hour %>
%config_entry%.metal.cost: 400
%config_entry%.energy.cost: 400
%config_entry%.zetium.cost: 100
# Minimum amount of scientists needed
%config_entry%.scientists.min: 10

# Technological requirements
#%config_entry%.requirement.zetium_extraction.level: 1
