##### %config_entry% config #####

# [General properties]
%config_entry%.hp: 100
%config_entry%.max_level: 3
# How much storage size this unit has? Cannot transport if not defined.
#%config_entry%.storage: 1000
# How much volume does this unit take? Not transportable if not defined.
#%config_entry%.volume: 10

# [Construction properties]
%config_entry%.upgrade_time: 100
%config_entry%.metal.cost: 300
%config_entry%.energy.cost: 300
%config_entry%.zetium.cost: 0
%config_entry%.requirement.%config_entry%.level: 1

# [Movement properties]
# How much time unit needs to make one hop.
%config_entry%.move.solar_system.speed: <%= 5.minutes %>
%config_entry%.move.galaxy.speed: <%= 15.minutes %>

# [Combat properties]
%config_entry%.xp_modifier: 1
%config_entry%.xp_needed: 1000 * level
%config_entry%.initiative: 5
%config_entry%.armor: :normal
%config_entry%.armor_mod: (level - 1) * 10
%config_entry%.evasiveness: 0
%config_entry%.kind: :ground
%config_entry%.damage_mod: (level - 1) * 10
%config_entry%.guns:
  - dpt: 15 * level
    period: 1
    damage: :piercing
    reach: :ground