/*
 * This file defines skin classes for all custom and standard components.
 * All other style is in the style.css file.
 */
@namespace s       "library://ns.adobe.com/flex/spark";
@namespace mx      "library://ns.adobe.com/flex/mx";
@namespace menus   "components.menus.*";
@namespace base    "components.base.*";
@namespace mapctrl "components.map.controllers.*";
@namespace planet  "components.gameobjects.planet.*";
@namespace ss      "components.gameobjects.solarsystem.*";
@namespace buildingsidebar "components.buildingsidebar.*";
@namespace notifications "components.notifications.*";
@namespace viewport "components.base.viewport.*";


/* UI ELEMENTS SKINS */ 
s|SkinnableContainer .rightSidebarContainer {
   skin-class: ClassReference("components.skins.RightSidebarContainerSkin");
}

mx|ProgressBar {
   bar-skin: ClassReference("components.skins.ProgressBarSkin");
   mask-skin: ClassReference("components.skins.ProgressMaskSkin");
   track-skin: ClassReference("components.skins.ProgressBarTrackSkin");
}
s|Button {
   skin-class: ClassReference("components.skins.ButtonSkin");
}
s|ToggleButton {
   skin-class: ClassReference("components.skins.ToggleButtonSkin");
}
s|NumericStepper {
   skin-class: ClassReference("components.skins.NumericStepperSkin");
}
s|HSlider {
   skin-class: ClassReference("components.skins.SliderSkin");
}
base|BaseTextInput {
   skin-class: ClassReference("components.skins.TextInputSkin");
   focus-skin: ClassReference("components.skins.TextInputSkin");
}
s|DropDownList {
   skin-class: ClassReference("components.skins.DropDownListSkin");
}
s|VScrollBar {
   skin-class: ClassReference("components.skins.VScrollBarSkin");
}
s|HScrollBar {
   skin-class: ClassReference("components.skins.HScrollBarSkin");
}
s|ButtonBar {
   skin-class: ClassReference("components.skins.ButtonBarSkin");
}
s|TabBar {
   skin-class: ClassReference("components.skins.TabBarSkin");
}
s|List {
   skin-class: ClassReference("components.skins.ListScrollableSkin");
}
