# Number of ticks per round
round.ticks: 3
# How often a shot will hit the line?
line_hit_chance: 0.7
# How ofter a shot will hit target with right armor?
max_damage_chance: 0.7
# Unit count for player that shoots parallely. count is total count of units
# participating in battle.
parallel.count: 1 + (count / 10)
# How many flanks may there be?
flanks.max: 2

# Damage multiplier for critical hits.
critical.multiplier: 2.5
# Damage divider for absorbed hits.
absorption.divider: 2.5

# Experience formulas are hardcoded into SpaceMule now.
# Check out combat.Statistics class.

# How much does cooldown last on location?
cooldown.duration: <%= 10.minutes %> / speed
# How much does cooldown last on planet?
cooldown.planet.duration: <%= 90.minutes %> / speed
# How much does cooldown last after jumping to location where battle should
# start?
cooldown.after_jump.duration: <%= 1.minute %>

### Stance coefficients ###

# Armor coefficient must be in (0, 2).

# Defensive stance
stance.1.damage: 0.6
stance.1.armor: 1.25
# Aggressive stance
stance.2.damage: 1.25
stance.2.armor: 0.60

# Wreckage percentage range. How much % do we leave as wreckage when unit is
# destroyed.
wreckage.range: [5, 45]

# Battles which happen in these zones give victory points.
battle.vp_zones: [<%= Location::GALAXY %>, <%= Location::SOLAR_SYSTEM %>, <%=
  Location::SS_OBJECT %>]
# Points formula for fairness multiplier calculations.
# Vars: economy, science, army, war, victory
battle.fairness_points: economy / 2 + science / 2 + army + victory * 10
# Values below this for defender_points / attacker_points map to 0.
battle.max_weakness: 0.7
# How much victory points does these battles give?
battle.victory_points: (damage_dealt_to_space * 0.25 + damage_dealt_to_ground) * 0.0012 * fairness_multiplier
# And how much creds does these battles give?
battle.creds: victory_points / 2.0
