---
<% speed = 15000 %>
# Speed factor
speed: <%= speed %>

development: true

galaxy.convoy.time: <%= 10.minutes %>
ss_object.asteroid.wreckage.time.spawn: [<%= 30.minutes %>, <%= 90.minutes %>]
ss_object.asteroid.wreckage.time.first: <%= 30.seconds %>

buildings.barracks.queue.max: 100
buildings.ground_factory.queue.max: 100
buildings.space_factory.queue.max: 100
buildings.npc_hall.cooldown: <%= 1.minute %>

combat.cooldown.duration: <%= 1.minute %>
raiding.delay: ["<%= 3.minutes %>", "<%= 9.minutes %>"]
notifications.expiration_time: <%= 10.minutes %>

<% %w{crow cyrix rhyno avenger jumper dart demosis dirac thor mule}.each do |u| %>
units.<%= u %>.move.solar_system.hop_time: 5
units.<%= u %>.move.galaxy.hop_time: 10
<% end %>
combat.cooldown.duration: 30
combat.cooldown.planet.duration: 60
combat.cooldown.after_jump.duration: 2

solar_system.spawn.regular.delay: [<%= 3.minutes %>, <%= 5.minutes %>]
solar_system.spawn.battleground.delay: [<%= 3.minutes %>, <%= 5.minutes %>]